#content {
    width: 100%;
    height: 100%;
    background-color: gray;
}
.tile {
    width: 100px;
    height: 100px;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}
